<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
		<title>Nosotros</title>
		<meta charset="utf-8"/>
		  <meta name="viewport" content="width=device-width, initial-scale=1"/>
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>
	<style>
		.footerMain{
			color: gray;
			padding-top: 15px;
			padding-left: 15px;
			
		}
		.headerMain{
			padding-top: 25px;
			font-family: Ailerons-Regular;
			font-size: 20px;
		}
		.presentacinTitulo{
			color: red;
			font-family: arial;
			padding: 10px;
		}
		.nosotrosPresentacion{
			color:gray;
			font-family: arial;
			pading:15px;
		}
		.lema{
			color:gray;
			text-align: center;
			padding: 15px;
		}
		.botonesNombre{
			font-family: Ailerons-Regular;
			
		}
		.descripcionNoso{
			padding: 30px;
			font-family: arial;
			color: gray;
			font-size: 35px;
		}
	</style>
	<body>
		<div class="container">
			<div class="headerMain"> <!-- div de header -->
				<ul class="nav nav-tabs">
				<li class="nav-item">
				    <a class="nav-link img-fluid" <webobject name = "mainLink"><webobject name = "logoImg"/></webobject></a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link active" <webobject name = "nosotrosLink">Nosotros</webobject></a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-danger" <webobject name = "proyectoLink">Proyecto</webobject></a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-danger" <webobject name = "productoLink">Productos</webobject></a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-danger" <webobject name = "contactoLink">Contacto</webobject></a>
				  </li>
				</ul>
			</div>
			<!-- div de cuerpo -->
			<script type="text/javascript">
				$(document).ready(function(){
					$('#tabs-1').hide();
					$('#tabs-2').hide();
					$('#tabs-3').hide();
			
					$('#enlace1').click(function(){
						$('#tabs-1').show();
						$('#tabs-2').hide();
						$('#tabs-3').hide();
					});
			
					$('#enlace2').click(function(){
						$('#tabs-2').show();
						$('#tabs-1').hide();
						$('#tabs-3').hide();
					});
			
					$('#enlace3').click(function(){
						$('#tabs-3').show();
						$('#tabs-2').hide();
						$('#tabs-1').hide();
					});
				});
			</script>
			<div>
			<div class="container-fluid">
			<h1 class="presentacinTitulo">Nosotros</h1>
				<p class="nosotrosPresentacion">
					Studio la Cueva con sede en ciudad de Mexico y cuautla Morelos 
					enfocado en el diseño, construcción, remodelacion y diseño de interiores 
					de  viviendas unifamiliares y proyectos con poco presupuesto, garantizando la calidad de la obra.
					<br>
 					Fundado por Carlos Cuevas, Eduardo Cuevas Y Jesus Cuevas.

					<h2 class="lema">"Arquitectura al alcance de todos"</h2>
				</p>
				<!-- div seleccion -->

					<div>
						<div class="container botonesNombre">
						  <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#CarlosC" href="#tabs-1" id="enlace1">Carlos Cuevas</button>
						  <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#JesusC" href="#tabs-2" id="enlace2">Jesus Cuevas</button>
						  <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#EduardoC" href="#tabs-3" id="enlace3">Eduardo Cuevas</button>
						  <div id="tabs-1" class="collapse">
						   <div class="container-fluid" display:"none">
						   		<div class="row">
						   			<div class="col-4">
						   				<webobject name = "contactImg1"/>
						   			</div>
						   			<div class="col-8">
						   					<p class="descripcionNoso">
						   					Curso sus estudios de arquitectura en la universidad 
						   					tecnologica de mexico, con especilizacion en el diseño 
						   					de interiores.
						   					enfocado a los proyecyos habitacionales y proyectos
						   					de impacto social.
						   					buscando siempre sustentabilidad, bajo costo de las obras
						   					y el confort de las personas.
						   					</p>
						   			</div>
						   		</div>
						   </div>
						  </div>
						  <div  class="collapse" id="tabs-2">
						   <div class="container-fluid">
						   		<div class="row">
						   			<div class="col-1"></div>
						   			<div class="col-3">
						   				<webobject name = "contactImg2"/>
						   			</div>
						   			<div class="col-8">
						   				<p class="descripcionNoso">
						   				Cursa sus estudios en contaduría en la universidad tecnológica 
						   				de México , enfocado en el area economico-administrativa para
						   				una mejor canalización de los recursos.
						   				</p>
						   			</div>
						   		</div>
						  </div>
						</div>
						<div class="collapse" id="tabs-3">
						  <div class="container-fluid">
						   		<div class="row">
						   			<div class="col-2"></div>
						   			<div class="col-2">
						   				<webobject name = "contactImg3"/>
						   			</div>
						   			<div class="col-1"></div>
						   			<div class="col-7">
						   				<p class="descripcionNoso">
											Ingeniero en sistemas, enfocado a nuevas tecnologías 
											capaces de automatizar una vivienda o edificación de 
											cualquier tipo.
						   				</p>
						   			</div>
						   		</div>
						  </div>
						</div>
						</div>					
					</div>
			</div>
			<!-- fin div cuerpo -->
		</div>
		</div>
		<!-- foooter -->
		<div>
			<footer class="footerMain">
			  <p>Copyright © Todos los Derechos Reservados </p>
				</footer>
		</div>
	</body>
</html>
