<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
		<title>Nosotros</title>
		<meta charset="utf-8"/>
		  <meta name="viewport" content="width=device-width, initial-scale=1"/>
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		  <link rel="stylesheet" href="CSS/main.css"/>
	</head>
	<style>
		.footerMain{
			color: gray;
			padding-top: 15px;
			padding-left: 15px;
			
		}
		.headerMain{
			padding-top: 25px;
			font-family: Ailerons-Regular;
			font-size: 20px;
		}
	</style>
	<body>
		<div class="container">
			<div class="headerMain"> <!-- div de header -->
				<ul class="nav nav-tabs">
				<li class="nav-item">
				    <a class="nav-link img-fluid" <webobject name = "mainLink"><webobject name = "logoImg"/></webobject></a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link active" <webobject name = "nosotrosLink">Nosotros</webobject></a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-danger" <webobject name = "proyectoLink">Proyecto</webobject></a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-danger" <webobject name = "productoLink">Productos</webobject></a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-danger" <webobject name = "contactoLink">Contacto</webobject></a>
				  </li>
				</ul>
			</div>
		</div>
		<!-- foooter -->
		<div>
			<footer class="footerMain">
			  <p>Copyright © Todos los Derechos Reservados </p>
				</footer>
		</div>
	</body>
</html>
