<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
		<title>Contacto</title>
		<meta charset="utf-8"/>
		  <meta name="viewport" content="width=device-width, initial-scale=1"/>
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>
	<style>
		.footerMain{
			color: gray;
			padding-top: 15px;
			padding-left: 15px; 
			
		}
		.headerMain{
			padding-top: 25px;
			font-family: Ailerons-Regular;
			font-size: 20px;
		}
		.tablaContacto{
			padding: 20px;

		}
		.titleContac{
			font-family: Ailerons-Regular;
			color: red; 
			padding: 25px;
		}
		
	</style>
	<body>
		<div class="container">
			<div class="headerMain"> <!-- div de header -->
				<ul class="nav nav-tabs">
				<li class="nav-item">
				    <a class="nav-link" <webobject name = "mainLink"><webobject name = "logoImg"/></webobject></a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-danger" <webobject name = "nosotrosLink">Nosotros</webobject></a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-danger" <webobject name = "proyectoLink">Proyecto</webobject></a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-danger" <webobject name = "productoLink">Productos</webobject></a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link active" <webobject name = "contactoLink">Contacto</webobject></a>
				  </li>
				</ul>
			</div>
			<div class="container">
				<div class="container-fluid">
					<div class="row">
						<div class="col-6">
							<webobject name = "contacImg1"/>
							<webobject name = "contacImg2"/>
							<webobject name = "contacImg3"/>
						</div>
						<div class="col-6 container-fluid">
					<webobject name = "contactForm">
						<div>
							<h1 class="titleContac">Contactanos</h1>
								<table class="tablaContacto table-borderless">
									<tr>
										<td>nombre *</td>
										<td><webobject name = "campoName"/></td>
									</tr>
									<tr><td Style="padding:10px;"></td></tr>
									<tr>
										<td>Email *</td>
										<td><webobject name = "campoEmail"/></td>
									</tr>
									<tr><td Style="padding:10px;"></td></tr>
									<tr>
										<td>Telefono</td>
										<td><webobject name = "campoFon"/></td>
									</tr>
									<tr><td Style="padding:10px;"></td></tr>
									<tr>
										<td>Asunto</td>
										<td><webobject name = "campoAsunto"/></td>
									</tr>
									<tr><td Style="padding:10px;"></td></tr>
									<tr>
										<td>Mensaje</td>
										<td><webobject name = "campoMensaje"/></td>
									</tr>
									<tr><td Style="padding:10px;"></td></tr>
									<tr>
										<td></td>
										<td><webobject name = "enviarBtn"/></td>
									</tr>
								</table>
						</div>
					</webobject>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- foooter -->
		<div>
			<footer class="footerMain">
			  <p>Copyright © Todos los Derechos Reservados </p>
				</footer>
		</div>
	</body>
</html>
